<div class="panel panel-blue margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-tasks"></i> Add/Edit Company</h3>
    </div>
    <div class="panel-body">
      <form class="margin-bottom-40" role="form">
      <div class="form-group">
          <label>Name</label>
          <input type="email" ng-model="record.name" class="form-control" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="email" ng-model="record.address" class="form-control" placeholder="Enter Address">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="email" ng-model="record.phone" class="form-control" placeholder="Enter Phone no">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" ng-model="record.email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label>User Name</label>
          <input type="email" ng-model="record.lastName" class="form-control" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" ng-model="record.username" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
        <label>Select Products</label><br>
          <div class="checkbox-inline">
            <label><input type="checkbox" value="">Petrol</label>
          </div>
          <div class="checkbox-inline">
            <label><input type="checkbox" value="">Diesel</label>
          </div>
          <div class="checkbox-inline">
            <label><input type="checkbox" value="">Regular</label>
          </div>
        </div>
        
        <button type="submit" class="btn-u btn-u-blue btn-primary">Submit</button>
        <button class="btn-u btn-u-blue btn-default" ng-click="goBack()">Cancel</button>
      </form>
    </div>
  </div>