<div class="companyheader"><h3 class="panel-title"><i class="fa fa-tasks"></i> User List</h3>
<button class="btn btn-primary" ng-click="addEditUser()">Add User</button><br></div>
<div class="companyBody"><table st-table="rowCollection" class="table table-striped">
	    <thead>
	      <tr>
		      <th>Name</th>
		      <th>username</th>
		      <th>phone number</th>
	      	<th>Email</th>
      	</tr>
    	</thead>
    	<tbody>
      	<tr ng-repeat="row in rowCollection">
      		<td>{{row.name}}</td>
        	<td>{{row.lastName}}</td>
    	  	<td>{{row.phone}}</td>
      		<td>{{row.email}}</td>
          <td><i class="fa fa-pencil" ng-click="addEditUser(row)"></i></td>
          <td><i class="fa fa-trash"></i></td>
       	</tr>
	    </tbody>
    </table>
    </div>